.backgroundQuiz
{
    background-image: url("../../assets/images/bg-auth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column;
    align-items: center;
   
}